<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main-header -->
    <div class="conatiner-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side view  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/b4.jpg" alt="harsh" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I am Harsh Singh, <span class="text_clr">Web Developer</span> and <span class="text_clr">DSA</span> enthusiast.</h1>
                        <a href="https://leetcode.com/harshsingh032/" target="_blank"><button>Leetcode Profile</button></a>
                    </div>
                    <!-- right side view  -->
                </div>

            </div>
        </div>
    </div>      
    
    <!-- footer  -->
    {{>footer}}

</body>
</html>